@import "cores/cores.scss";
@import "mixins/tds";
@import "classes/buttom";
@import "classes/icones";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@media (min-width: 10px) and (max-width: 500px) {
    $fontSize: 4vw;
    
    body {
         box-sizing: border-box;
        max-width: 99vw;
        position: relative;
        overflow-x: hidden;
        background: linear-gradient(to bottom, $cor1, lighten($cor1, 2));
        background-size: cover;
        height: 100vh;
        .container {
            border: 1px solid white;
        }
        header {
            background-color: white;
            nav {
                padding: 0.1vw;
                ul {
                    display: flex;
                    li {
                        border: 1px solid $cor1;
                        list-style: none;
                        padding: 0.4vw;
                        margin-right: 0.2vw;
                        text-transform: capitalize;
                        font-size: $fontSize;
                        color: $cor1;
                        &:hover {
                            background-color: lighten($cor2, 70);
                            color: $cor2;
                            border: 1px solid $cor2;
                        }
                    }
                }
            }
        }
        form {
            border: 1px solid $cor1;
            padding: 0.4vw;
            background-color: lighten($cor1, 70);
            .buttom {
                background-color: $cor2;
                color: white;
                padding: 0.5vw;
                border: none;
                font-size: $fontSize;
                min-height: 9vw;
                display: block;
                width: 100%;
            }

            label {
                text-transform: capitalize;
                border: 1px solid $cor1;
                display: block;
                padding: 2vw;
                margin-bottom: 0.09765625vw;
                font-size: $fontSize;
                color: $cor1;
                display: flex;
                align-items: center;
                position: relative;

                input {
                    margin-left: 0.4vw;
                    flex: 1;
                    border: 1px solid $cor1;
                    padding: 0.3vw;
                    color: $cor1;
                    outline: none;
                    font-size: $fontSize;
                    min-height: 8vw;
                    min-height: 8vw;
                }
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    $fontSize: 2vw;
    body {
        box-sizing: border-box;
        max-width: 90vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow-x: hidden;
        background: linear-gradient(to bottom, $cor1, lighten($cor1, 2));
        background-size: cover;
        height: 100vh;
        header {
            background-color: white;
            nav {
                padding: 0.1vw;
                ul {
                    display: flex;
                    li {
                        border: 1px solid $cor1;
                        list-style: none;
                        padding: 0.4vw;
                        margin-right: 0.2vw;
                        text-transform: capitalize;
                        font-size: $fontSize;
                        color: $cor1;
                        &:hover {
                            background-color: lighten($cor2, 70);
                            color: $cor2;
                            border: 1px solid $cor2;
                        }
                    }
                }
            }
        }
        form {
            border: 1px solid $cor1;
            padding: 0.4vw;
            background-color: lighten($cor1, 70);
            .buttom {
                background-color: $cor2;
                color: white;
                padding: 0.5vw;
                display: inline-block;
                border: none;
                font-size: $fontSize;
            }

            label {
                text-transform: capitalize;
                border: 1px solid $cor1;
                display: block;
                padding: 0.5vw;
                margin-bottom: 0.09765625vw;
                font-size: $fontSize;
                color: $cor1;
                display: flex;
                align-items: center;

                input {
                    margin-left: 0.4vw;
                    flex: 1;
                    border: 1px solid $cor1;
                    padding: 0.3vw;
                    color: $cor1;
                    outline: none;
                    font-size: $fontSize;
                }
            }
        }
    }
}














@media (min-width: 768px) {
    $fontSize: 1.2vw;
    body {
        font-family: "Roboto Condensed", sans-serif;
        box-sizing: border-box;
        max-width: 95vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow-x: hidden;
        background: linear-gradient(to bottom, $cor1, lighten($cor1, 2));
        background-size: cover;
        height: 100vh;

        table {
            background-color: white;
            width: 100%;
            thead {
                td {
                    @include td();
                }
            }
            tbody {
                tr:nth-child(odd) {
                    background-color: lighten($cor1, 73); /* Cor de fundo clara */
                }
                tr {
                    td {
                        @include td();
                    }
                }
            }
        }

        header {
            background-color: white;
            nav {
                padding: 0.1vw;
                ul {
                    display: flex;
                    li {
                        list-style: none;
                        padding: 0.4vw;
                        margin-right: 0.2vw;
                        text-transform: capitalize;
                        font-size: $fontSize;
                        color: $cor1;
                        &:hover {
                            background-color: lighten($cor2, 70);
                            color: $cor2;
                        }
                    }
                }
            }
        }
        form {
            border: 1px solid $cor1;
            padding: 0.4vw;
            background-color: lighten($cor1, 80);

            label {
                text-transform: capitalize;
                border: 1px solid $cor1;
                display: block;
                padding: 0.5vw;
                margin-bottom: 0.09765625vw;
                font-size: $fontSize;
                color: $cor1;
                display: flex;
                align-items: center;
                position: relative;

                .posicao {
                    z-index: 3;
                    padding: 1vw;
                    position: absolute;
                    bottom: -0.2vw;
                    display: block !important;
                    left: 4.1vw;
                    text-align: center;
                }
                .alerta {
                    display: none;
                }

                input {
                    margin-left: 0.4vw;
                    flex: 1;
                    border: 1px solid $cor1;
                    padding: 0.3vw;
                    color: $cor1;
                    outline: none;
                    font-size: $fontSize;
                }
            }
        }
        footer {
            background-color: lighten($cor2,50);
            #exportar {
                padding: 1vw;
                color: $cor1;
                display: flex;
                align-items: center;
                gap: 1.07421875vw;
                font-size: $fontSize;
                text-transform: capitalize;
            }
        }
    }
}

.ue-sidebar-container {
    display: none;
}
.container{
 background-color: lighten($cor1,73%);
    min-height: 70vh;
}