@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 768px) and (max-width: 900000px) {
  * {
    font-size: 1vw;
  }
  body {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(0, 70, 48), #005037);
    background-size: cover;
    height: 100vh;
    margin: 0;
    max-width: 100%;
  }
  body table {
    background-color: white;
    width: 100%;
  }
  body table thead td {
    text-align: center;
    color: rgb(0, 70, 48);
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
  }
  body table tbody tr:nth-child(odd) {
    background-color: #bbffea; /* Cor de fundo clara */
  }
  body table tbody tr td {
    text-align: center;
    color: rgb(0, 70, 48);
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
  }
  body header {
    background-color: white;
  }
  body header nav {
    padding: 0.1vw;
  }
  body header nav ul {
    display: flex;
  }
  body header nav ul li {
    list-style: none;
    padding: 0.4vw;
    margin-right: 0.2vw;
    text-transform: capitalize;
    font-size: 1vw;
    color: rgb(0, 70, 48);
  }
  body header nav ul li:hover {
    background-color: white;
    color: #00ac59;
  }
  body form {
    border: 1px solid rgb(0, 70, 48);
    padding: 0.4vw;
    background-color: #dffff5;
  }
  body form label {
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
    display: block;
    padding: 0.5vw;
    margin-bottom: 0.09765625vw;
    font-size: 1vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    position: relative;
  }
  body form label .posicao {
    z-index: 3;
    padding: 1vw;
    position: absolute;
    bottom: -0.2vw;
    display: block !important;
    left: 4.1vw;
    text-align: center;
  }
  body form label .alerta {
    display: none;
  }
  body form label input {
    margin-left: 0.4vw;
    flex: 1;
    border: 1px solid rgb(0, 70, 48);
    padding: 0.3vw;
    color: rgb(0, 70, 48);
    outline: none;
    font-size: 1vw;
  }
  body footer {
    background-color: #acffd7;
  }
  body footer #exportar {
    padding: 1vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    gap: 1.07421875vw;
    font-size: 1vw;
    text-transform: capitalize;
  }
}
.buttom {
  background-color: rgb(0, 70, 48);
  border-radius: 0.2vw;
  color: white;
  display: inline-block;
  border: none;
  padding: 1vw;
  text-transform: uppercase;
  text-decoration: none;
}
.buttom:hover {
  animation: mudaCor 300ms forwards;
}

@keyframes mudaCor {
  0% {
    background-color: rgb(0, 70, 48);
  }
  100% {
    background-color: #00ac59;
  }
}
.icon1 {
  border-radius: 0.2vw;
  background-image: url("../css/img/icones.svg");
  background-size: cover;
  width: 46px;
  height: 46px;
  display: inline-block;
  border: 1px solid rgb(0, 70, 48);
  background-position-x: 0px;
}

.icon2 {
  border-radius: 0.2vw;
  background-image: url("../css/img/icones.svg");
  background-size: cover;
  width: 46px;
  height: 46px;
  display: inline-block;
  border: 1px solid rgb(0, 70, 48);
  background-position-x: -56px;
}

.icon3 {
  border-radius: 0.2vw;
  background-image: url("../css/img/icones.svg");
  background-size: cover;
  width: 46px;
  height: 46px;
  display: inline-block;
  border: 1px solid rgb(0, 70, 48);
  background-position-x: -114px;
}

@media (min-width: 0px) and (max-width: 299px) {
  body {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    background-color: #46ffc5;
    background-size: cover;
    height: 100vh;
    margin: 0;
    max-width: 85.5vw;
  }
  body table {
    font-size: 0.05em;
    background-color: white;
    width: 100%;
  }
  body table thead td {
    text-align: center;
    color: rgb(0, 70, 48);
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
  }
  body table tbody tr:nth-child(odd) {
    background-color: #bbffea; /* Cor de fundo clara */
  }
  body header {
    background-color: white;
  }
  body header nav {
    padding: 0.1vw;
  }
  body header nav ul {
    display: flex;
  }
  body header nav ul li {
    list-style: none;
    padding: 0.4vw;
    margin-right: 0.2vw;
    text-transform: capitalize;
    font-size: 2.7vw;
    color: rgb(0, 70, 48);
  }
  body header nav ul li:hover {
    background-color: white;
    color: #00ac59;
  }
  body form {
    border: 1px solid rgb(0, 70, 48);
    padding: 0.4vw;
    background-color: #dffff5;
  }
  body form label {
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
    display: block;
    padding: 0.5vw;
    margin-bottom: 0.09765625vw;
    font-size: 2.7vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    position: relative;
  }
  body form label .posicao {
    z-index: 3;
    padding: 1vw;
    position: absolute;
    bottom: -0.2vw;
    display: block !important;
    left: 4.1vw;
    text-align: center;
  }
  body form label .alerta {
    display: none;
  }
  body form label input {
    margin-left: 0.4vw;
    flex: 1;
    border: 1px solid rgb(0, 70, 48);
    padding: 0.3vw;
    color: rgb(0, 70, 48);
    outline: none;
    font-size: 2.7vw;
  }
  body footer {
    background-color: #acffd7;
  }
  body footer #exportar {
    padding: 1vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    gap: 1.07421875vw;
    font-size: 2.7vw;
    text-transform: capitalize;
  }
}
@media (min-width: 300px) and (max-width: 499px) {
  body {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    background-color: #46ffc5;
    background-size: cover;
    height: 100vh;
    margin: 0;
    width: 100%;
  }
  body table {
    font-size: 0.2em;
    background-color: white;
    width: 100%;
  }
  body table thead td {
    text-align: center;
    color: rgb(0, 70, 48);
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
  }
  body table tbody tr:nth-child(odd) {
    background-color: #bbffea; /* Cor de fundo clara */
  }
  body header {
    background-color: white;
  }
  body header nav {
    padding: 0.1vw;
  }
  body header nav ul {
    display: flex;
  }
  body header nav ul li {
    list-style: none;
    padding: 0.4vw;
    margin-right: 0.2vw;
    text-transform: capitalize;
    font-size: 4vw;
    color: rgb(0, 70, 48);
  }
  body header nav ul li:hover {
    background-color: white;
    color: #00ac59;
  }
  body form {
    border: 1px solid rgb(0, 70, 48);
    padding: 0.4vw;
    background-color: #dffff5;
  }
  body form label {
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
    display: block;
    padding: 0.5vw;
    margin-bottom: 0.09765625vw;
    font-size: 4vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    position: relative;
    max-width: 85.3vw;
  }
  body form label .posicao {
    z-index: 3;
    padding: 1vw;
    position: absolute;
    bottom: -0.2vw;
    display: block !important;
    left: 4.1vw;
    text-align: center;
  }
  body form label .alerta {
    display: none;
  }
  body form label input {
    margin-left: 0.4vw;
    flex: 1;
    border: 1px solid rgb(0, 70, 48);
    padding: 0.3vw;
    color: rgb(0, 70, 48);
    outline: none;
    font-size: 4vw;
  }
  body footer {
    background-color: #acffd7;
  }
  body footer #exportar {
    padding: 1vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    gap: 1.07421875vw;
    font-size: 4vw;
    text-transform: capitalize;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  body {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    background-color: #46ffc5;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  body table {
    font-size: 0.5em;
    background-color: white;
    width: 100%;
  }
  body table thead td {
    text-align: center;
    color: rgb(0, 70, 48);
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
  }
  body table tbody tr:nth-child(odd) {
    background-color: #bbffea; /* Cor de fundo clara */
  }
  body header {
    background-color: white;
  }
  body header nav {
    padding: 0.1vw;
  }
  body header nav ul {
    display: flex;
  }
  body header nav ul li {
    list-style: none;
    padding: 0.4vw;
    margin-right: 0.2vw;
    text-transform: capitalize;
    font-size: 2.6vw;
    color: rgb(0, 70, 48);
  }
  body header nav ul li:hover {
    background-color: white;
    color: #00ac59;
  }
  body form {
    border: 1px solid rgb(0, 70, 48);
    padding: 0.4vw;
    background-color: #dffff5;
  }
  body form label {
    text-transform: capitalize;
    border: 1px solid rgb(0, 70, 48);
    display: block;
    padding: 0.5vw;
    margin-bottom: 0.09765625vw;
    font-size: 2.6vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    position: relative;
  }
  body form label .posicao {
    z-index: 3;
    padding: 1vw;
    position: absolute;
    bottom: -0.2vw;
    display: block !important;
    left: 4.1vw;
    text-align: center;
  }
  body form label .alerta {
    display: none;
  }
  body form label input {
    margin-left: 0.4vw;
    flex: 1;
    border: 1px solid rgb(0, 70, 48);
    padding: 0.3vw;
    color: rgb(0, 70, 48);
    outline: none;
    font-size: 2.6vw;
  }
  body footer {
    background-color: #acffd7;
  }
  body footer #exportar {
    padding: 1vw;
    color: rgb(0, 70, 48);
    display: flex;
    align-items: center;
    gap: 1.07421875vw;
    font-size: 2.6vw;
    text-transform: capitalize;
  }
}
.ue-sidebar-container {
  display: none;
}/*# sourceMappingURL=estilo.css.map */